
html, body {
  overflow-x: hidden;
}

/* Taustan määrittelyt */
.tausta {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #8477ff, #fcc5db);
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;
}

/* Fontti */
.gloria-hallelujah-regular {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Lomakepohjan määrittelyt */
.todo-lista {
    width: 100%;
    max-width: 800px;
    background: whitesmoke;
    margin: 100px auto 20px;
    padding: 40px 30px 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
}

.todo-lista h2 {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
    font-family: "Gloria Hallelujah";
}

.todo-lista h2 img {
    width: 90px;
    height: auto;
    padding-left: 0px;
}

/* Lomakkeen määrittelyt */
.lomake {
    display: block;
    align-items: center;
    justify-content: space-between;
    background: whitesmoke;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

/* Lisää harjoitus napin määrittelyt */
button {
    border: 1px solid black;
    outline: none;
    padding: 20px;
    margin-bottom: 25px;
    background: #d3cffa;
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: "Gloria Hallelujah";
    cursor: pointer;
    border-radius: 20px;
}

/* Input kenttien määrittelyt */
input {
    flex: 1;
    border: 1px solid black;
    padding: 10px;
    font-size: 16px !important;
}

textarea {
  font-size: 16px !important;
}


#inputHarjoitus {
    display: block;
    width: 95%;
    background: #fccbdf;
    border-radius: 20px;
    padding-left: 20px;
    margin-top: 25px;
}

#inputMatka {
    display: flex;
    width: 95%;
    background: #fccbdf;
    border-radius: 20px;
    padding-left: 20px;
    margin-bottom: 25px;
}

/* Virheen määrittelyt */
.virhe::placeholder {
    color:red;
    font-weight: bold;
}

/* PostIt seinän määrittelyt */
#postIt {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    padding: 30px;
    gap: 25px;
}

/* PostIt lapun määrittelyt */
.lappu {
    position: relative;
    height: 200px;
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    resize: none;
    background-color: rgb(245, 218, 222);  
}

.lappu p {
    margin: 0;
    font-size: 25px;
    white-space: pre-line;
    font-family: "Gloria Hallelujah";
}

.lappu p.tehty {
  text-decoration: line-through black 5px;
}

.lappu .poistaNappi {
    position: absolute;
    bottom: 0px;
    right: 15px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(187, 187, 187);
    color: black;
    font-family: "Gloria Hallelujah";
    padding: 5px 10px;

}

/* Laskurien määrittelyt */
.laskurit {
display: flex;
justify-content: space-between;
align-items: center;
width: 80%;
max-width: 600px;
margin: 20px auto;
}

p {
 font-family: "Gloria Hallelujah"; 
 font-weight: bold;  
}


/* Responsiivisuus */
@media screen and (max-width: 768px) {
  .lappu {
    width: 150px;
    height: 150px;
  }
  
  .lappu p {
    font-size: 16px; 
    word-break: break-word; 
  }

  .lappu .poistaNappi {
    font-size: 14px;
  }
}



